<configuration>
    <appender userName="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <logger userName="com.bytabit.mobile" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="logcat"/>
    </root>
</configuration>